# Bancos de Dados (SQL e NoSQL)

Objetivos: CRUD simples com SQLite e exemplo de documento JSON.

In [ ]:
import sqlite3
conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.execute('CREATE TABLE funcionarios (id INTEGER PRIMARY KEY, nome TEXT, cargo TEXT)')
c.execute("INSERT INTO funcionarios (nome,cargo) VALUES ('Ana','Analista')")
conn.commit()
for row in c.execute('SELECT * FROM funcionarios'):
    print(row)
conn.close()